langchain
langchain-openai
langchain-core
unstructured[pdf]
unstructured-inference
pi-heif
pillow
camelot-py
pdfplumber
pymupdf
pgvector
psycopg2
openai
fastapi
uvicorn
langfuse
python-multipart
pydantic
python-dotenv
requests